<h1> this is my index file</h1>
<h1> this  ansible node IP is :  {{ansible_all_ipv4_addresses}}</h1>
<h1> this ansible node OS is : {{ansible_os_family}}</h1>
<h1> this ansible node java package is : {{myjavaonubuntu}}</h1>
